.page {
  background-color: #fcf5e5;
}

.page__content {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(33, 33, 33);
}

.page__section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
